# not adding OSCAR
core_fct

# not adding calculations from others
extra_data/CMIP6_data
extra_data/constraints
extra_data/recon.eof1.mon.ascii.dat.gz
extra_data/gpcp.clim.1979.2008.mon.ascii.dat.gz

# not adding results from former calculations
masks/figures
masks/masknoDV*
RCMIP_phase2
!run_scripts/RCMIP_phase2
tmp_figures
#weights
figures_OSCAR_and_CMIP6

# not adding here observations?
observations

# scripts removed for privacy reasons
*.bat

# other scripts not to include
.ipynb_checkpoints
__pycache__
run_scripts/IPCC_stuff
run_scripts/scripts_CMIP6/_TREATMENT_ocean-properties.py
run_scripts/scripts_CMIP6/test-OSCARv3-historical.py
run_scripts/scripts_CMIP6/test-OSCARv3-ssp585.py
